<div class="description">

  <span>Age: {{ age }}</span><br/>

  <span>Favorite color:
    <div class ="colorWrap">{{favColor}}

      <span class="colors" style="background-color:{{favColor}}"></span>

    </div>

  </span><br/>

  <div class="imgwrap" height="300px" width="auto">

    <img src="{{ image }}" class = "pics">

  </div>

  <button id="delete" class="deleteContact" data-id="{{ _id }}">Delete</button>

</div>

